
body{
	width: 100%;
}
form, input{
	padding: 0;
	margin: 0;
	outline: none;
}
:focus, :active{
	outline: none;
	border: none;
}
.arrow{
	width: 44%;
    height: 50px;
    min-width: 540px;
    position: relative;
    padding: 5px 0 0 3px;
    margin: 50px 0 0 50px;
    background: #ffcc66;
}
.arrow:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    background-color: transparent;
    display: block;
    border: 28px solid #fff;
    border-left: 15px solid #ffcc66;
}
input#query {
    width: 76%;
    padding: 4px 0;
    border: none;
    border-top: 1px solid #a3a3a3;
    -webkit-box-shadow: inset 0 0 1px 1px #e5e5e5;
    box-shadow: inset 0 0 1px 1px #e5e5e5;
}
input#query:focus{
-webkit-box-shadow: inset 0 0 1px 1px #ccc;
    box-shadow: inset 0 0 1px 1px #ccc;
   border-top: 1px solid #a3a3a3;
}
input#find {
    width: 12%;
    padding: 3px 14px;
    margin-bottom: 3px;
}
#find:hover{
	border: 2px solid transparent;
	background: #e5e5e5;
}
#find:focus{
		border: 2px solid transparent;
	background: #e5e5e5;
	color: #e3a62d;
}
input#checkbox {
    margin: 5px 0 0 0;
}
input#checkbox:hover ~ label{
	color: rgba(0,0,0,.8);
}
input#checkbox:checked ~ label{
	color: rgba(0,0,0,.6);
}
label {
    vertical-align: top;
    font-size: 16px;
    /* width: 20%; */
    letter-spacing: -.6px;
}
.arrow-gradient{
	width: 44%;
    height: 50px;
    min-width: 540px;
    position: relative;
    padding: 5px 0 0 3px;
    margin: 50px 0 0 50px;
    background: -webkit-linear-gradient(top, #fbc98b, #ebbb4d);
   background: -o-linear-gradient:(top, #fbc98b, #ebbb4d) ;
   background: linear-gradient:(top, #fbc98b, #ebbb4d) ;
}
.arrow-gradient:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    background-color: transparent;
    display: block;
    border: 28px solid #fff;
    border-left: 15px solid transparent;
}
.arrow-gradient p{
	margin: 0;
}
.arrow-gradient p a{
	text-decoration: none;
	border-bottom: 1px dotted;
	color: inherit;
	margin-left: 5px;
}
.arrow-gradient p a:hover{
	border: none;
}
.arrow-gradient p a:focus{
	color: rgba(0,0,0,.6);
	border-bottom: 1px solid transparent;

}