<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contacts-wrapper" ng-show="toShow">
	<button class="button back" ng-click="hideForm()">
		<i class="fa fa-times"></i>
		<span class="top"></span>
		<span class="right"></span>
		<span class="bottom"></span>
		<span class="left"></span>
	</button>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 contact-form" ng-controller="SubmissionCtrl" ng-class="form">
		<form name="submissionForm" novalidate ng-submit="submit()">
			<input type="text" class="form-control" placeholder="Имя"  name="name" id="name" ng-model="user.name" required>
			<input type="text" pattern="[0-9 ]+" class="form-control" placeholder="Номер телефона" name="number" id="number" ng-model="user.number" required>
			<input type="email" class="form-control" placeholder="E-mail" name="mail" id="mail" ng-model="user.mail" required>
			<textarea placeholder="Ваше сообщение" name="message" id="message" class="form-control" ng-model="user.message" required></textarea>
			 <button type="submit" class="submit-btn" ng-disabled="submissionForm.$invalid"><i class="fa fa-long-arrow-right"></i></button>
			 <span ng-show="clickedInvalid">Заполните поля правильно!</span>
		</form>
	</div>
</div>
<!-- ng-class="showHideForm" -->