<div class="col-xs-10 col-sm-10 col-md-10 col-lg-9 contact-data" ng-class="hideC">
	<ul class="list-unstyled">
		<li><i class="fa fa-phone"></i> (093) 918 09 99 - Любовь</li>
		<li><i class="fa fa-phone"></i> (099) 343 22 38 - Алексей</li>
		<li><i class="fa fa-envelope-o"></i> ovseienko@gmail.com</li>
		<li><i class="fa fa-skype"></i> justvalentine</li>
	</ul>	
	<p>Не откладывайте свое здоровье и красоту до завтра</p>
	<button class="button back" ng-click="hideContacts()">
		<i class="fa fa-times"></i>
		<span class="top"></span>
		<span class="right"></span>
		<span class="bottom"></span>
		<span class="left"></span>
	</button>
</div>