@font-face {
font-family: Impact; 
src: url(552008.ttf); 
}
body{
margin: 0;
padding:0;
font-family: Helvetica sans-serif
}
a{
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}
.purple{
margin-top: 10px;
width: 100%;
background:#a64dff; 
box-shadow: 0 0 2px 2px #e2e2e2;
}
.menu{
font-family: Impact, Helvetica sans-serif;
width: 900px;
list-style: none;
margin: 0 auto;
height: 38px;
}
.menu li{
display: inline-block;
padding: 8px 0;
margin-right: 23px;
float: left;
}
.menu a{
color: #fff;
font-size: 18px;
}
.menu .active a,
.menu  li:hover a{
	background: #eeeeee;
	color: #a0a0a2;
padding: 8px 12px;
}
li.more {
float: right;
}
.pagination{
width: 473px;
color: #a23cd0;
list-style: none;
}
.pagination li {
    display: inline-block;
    font-size: 11px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.pagination li a{
padding: 4px 8px;
display: inline-block;
}
li.arrows,
.pagination li:nth-of-type(5){
    border: none;
}
.current,
.pagination li:hover:not(.arrows){
	background: #a13bcf;
	background: #7c12bc;
	color: #fff;
}
