
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
	font-family: Gotham Medium;
	src: url('../fonts/GothaProMed.woff'),
		url('../fonts/GothaProMed.otf');
}
@font-face{
	font-family: Gotham Black;
	src: url('../fonts/GothaProBla.woff'),
		url('../fonts/GothaProBla.otf');
}
@font-face{
	font-family: Gotham Pro;
	src: url('../fonts/GothaProReg.woff'),
		url('../fonts/GothaProReg.otf');
}
@font-face{
	font-family: "Gotham Pro Bold";
	src: url('../fonts/GothaProBol.woff'),
		url('../fonts/GothaProBol.otf');
}
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	width: 100%;
	color: #454545;
	-webkit-font-smoothing: antialiased;
	font-family: Gotham Pro, Arial, Helvetica, sans-serif;
}
p{
	margin: 0;
	padding: 0;
	text-align: left;
}
:active, :focus{
	outline: none;
	border: none;
}
.wrapper{
	width: 1160px;
	overflow: hidden;
	margin: 0 auto;
	color: #454545;
	text-align: center;
}
a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
header{
	width: 100%;
	background: #f5f5f5;
	position: relative;
}
.play-video{
	border: none;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	background: #fff url(../img/1.svg) -48px 28px no-repeat;
	background-size: 150px 150px;
	width: 85px;
	height: 85px;   
	border-radius: 40px;
	cursor: pointer;
}
.play-video:hover{
	background: #fff url(../img/1.svg) -50px -30px no-repeat;
	background-size: 150px 150px;
}
.top {
	padding-top: 47px;
	text-align: left;
}
.logo{
	background: url(../img/logo.png) 0 0 no-repeat;
	width: 110px;
	height: 50px;
	margin: 0 0 0 120px;
}
nav{
	display: inline-block;
	float: right;
	margin-right: 90px;
	padding-top: 13px;
}
nav a{
	font-family: Gotham Medium;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2px;
	margin: 0 30px 0 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
nav a:hover,
nav a:active,
.active{
	color: #a70c5d;
}
.lang{
	display: inline-block;
	border: 2px solid #dfdfe2;
	border-radius: 15px;
	text-transform: uppercase;
	color: #a70c5d;
	width: 70px;
	font-family: Gotham Black;
	float: right;
	position: relative;
	margin: 6px 14px 0 0;
	padding: 9px 14px;
	text-align: right;
	font-size: 11px;
	background: transparent;
	cursor: pointer;
}
.lang::before{
	display: inline-block;
	content: '';
	position: absolute;
	left: 6px;
	bottom: 6px;
	width: 18px;
	height: 17px;
	margin: 0 0 0 0px;
	border-radius: 8px;
	background: #dfdfe2;
}
.lang:hover::before{
	background: #a70c5d;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.header-column{
	width: 46%;
	display: inline-block;
	vertical-align: top;
}
.header-column img{
	height: 567px;
	float: right;
	width: 400px;
	margin: 2px 80px 0 0;
}
.slogan-text{
	display: inline-block;
	text-align: left;
	padding-left: 83px;
}
.slogan-text h1{
	font: 30px Gotham Pro Bold;
	margin: 74px 0 32px 0;
	width: 405px;
	text-align: left;
}
.line{
	width: 40px;
	height: 2px;
	background: #a70c5d; 
}
.slogan-text p {
	font-size: 15px;
	width: 460px;
	line-height: 1.6;
	margin: 26px 0 0 0;
}
strong{
	font-family: Gotham Pro Bold;
}
.btn{
	display: inline-block;
	border: none;
	cursor: pointer;
	background: #a70c5d;
	color: #fff;
	font: 11px Gotham Pro Bold;
	text-transform: uppercase;
	position: relative;
	padding: 20px 28px;
	border-radius: 30px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.slogan-text .btn{
	margin: 52px 0 0 0
}
.slogan-text .btn a {
	margin: 0px 0 0 26px;
}
.btn:hover{
	opacity: .8;
}
.btn:active{
	opacity: .6;
}
.btn a::before{
	display: inline-block;
	position: absolute;
	content: '';
	background: url(../img/1.svg) -24px -1px no-repeat;
	background-size: 129px 100px;
	width: 20px;
	height: 20px;
	left: 16px;
	top: 15px;
}
#services {
	margin: 53px 0;
	overflow: hidden;
}
h2{
	font:  28px Gotham Pro Bold;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
}
.entry-header .line {
	margin: -9px auto;
}
.entry-header p{
	text-align: center;
	width: 600px;
	font-size: 14px;
	line-height: 1.5;
	margin: 22px auto;
}
#services .entry-content{
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	margin-top: 53px;
	position: relative;
}
.services-block {
	display: inline-block;
	width: 490px;
	vertical-align: top;
	padding-left: 84px;
	position: relative;
}
.entry-content-line {
	padding-top: 46px;
	padding-bottom: 20px;
	margin: 30px 0;
}
.entry-content-line:nth-of-type(3)::before {
	width: 1px;
	height: 200px;
	display: block;
	position: absolute;
	content: '';
	border-left: 1px dashed #d4d5d6;
	left: 50%;
}
.entry-content-line:first-of-type{
	border-bottom: 1px dashed #d4d5d6;
}
.entry-content h4 {
	font: 15px Gotham Pro Bold;
	text-transform: uppercase;
	padding-left: 70px;
	padding-bottom: 10px;
	cursor: pointer;
	text-align: left;
	position: relative;
}
.entry-content h4::after{
	content: "i";
	text-align: center;
	text-transform: lowercase;
	position: absolute;
	right: 60px;
	top: 0px;
	width: 25px;
	height: 25px;
	font-size: 17px;
	line-height: 25px;
	font-family: Genova, serif;
	border: 2px solid #a70c5d;
	border-radius: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.order{
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.order:hover{
	background: url(../img/sprite.png) 0 -46px no-repeat;
}
.optimization{
	background: url(../img/sprite.png) 0 -96px no-repeat;
	position: relative;
}
.optimization:hover{
	background: url(../img/sprite.png) 0 -143px no-repeat;
}
.agreement{
	background: url(../img/sprite.png) 0 -185px no-repeat;  
}
.agreement:hover{
	background: url(../img/sprite.png) 0 -229px no-repeat;  
}
.court{
	background: url(../img/sprite.png) 0 -276px no-repeat;  
}
.court:hover{
	background: url(../img/sprite.png) 0 -326px no-repeat;  
}
.entry-content h4:hover::after{
	background: #a70c5d;
	color: #fff;
}
.services-block p {
	font-size: 13px;
	padding-left: 70px;
	margin: -3px 0 0 0;
	letter-spacing: -.1px;
	width: 335px;
	line-height: 1.5;
	text-align: left;
}
.services-block ul {
	list-style: none;
	font-size: 12px;
	margin: 0 0 0 29px;
	width: 385px;
	line-height: 1.5;
	letter-spacing: .6px;
	padding-top: 5px;
	text-align: left;
}
.services-block ul>li {
	padding-left: 30px;
	background: url(../img/list.png) 0 8px no-repeat;
	padding: 0px 0 5px 24px;
	margin-bottom: -3px;
}
.optimization-prices{
	position: absolute;
	background: #fff;
	width: 50%;
	top: 30px;
	right: 0;
	opacity: 0;
	text-align: right;
	padding-bottom: 30px;
	-webkit-transition: all .5s ease-in-out ;
	-o-transition: all .5s ease-in-out ;
	transition: all .5s ease-in-out ;
}
.show-optimization{
	right:50%;
	opacity:1;
	z-index:10;
}
.show-border{
	background: #fff url(../img/border.png) 0 0 no-repeat;
}
.optimization-prices table {
	width: 433px;
	display: inline-block;
	text-align: left;
	border-collapse: collapse;
	margin-right: 30px;
}
.optimization-prices tr{
	text-align: left;
	font-size: 12px;
}
.optimization-prices td {
	vertical-align: top;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
}
.optimization-prices table strong{
	display: block;
}
.table-heading:first-of-type{
	padding-top: 54px;
}
.table-heading {
	text-transform: uppercase;
	width: 80px;
	vertical-align: top;
	font-family: Gotham Black;
	font-size: 10px;
	padding-top: 0;
}
.optimization-prices h5 {
	font-family: Gotham Black;
	font-size: 15px;
}
.optimization-prices p {
	line-height: 1.8;
}
.price{
	font-family: Gotham Black;
	font-size: 15px;
}
.optimization-prices .btn-color {
	padding: 16px 30px;
	margin-bottom: 0;   
}
.optimization-prices.for-mob{
	position: absolute;
	display: none;
}
.display{
	display: block !important;
	z-index: 100;
	padding-bottom: 60px;
}
.optimization-prices.for-mob:before{
	display: block;
	content: url(../img/border.png);
	position: absolute;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	top: -95px;
	left: 80px;
}
#testimonials {
	border-bottom: 1px solid #f1f1f1;
}
.testimonial-block{
	display: inline-block;
	width: 25%;
	margin-top: 53px;
	padding-left: 43px;
	text-align: left;
}
.testimonial-block:hover .quote{
	 background: url(../img/testimonials-sprite.png) 0 -20px no-repeat;
}
p.testimonial{
	line-height: 1.6;
	margin-top: 12px;
}
.quote{
	width: 30px;
	height: 20px;
	background: url(../img/testimonials-sprite.png) 0 0 no-repeat;
}
.user-position>a{
	position: relative;
	font-size: 12px;
	margin-left: 13px;
}
.user-position>a:hover{
	color: #a70c5d;
}
.user-position>a:focus{
	color: #a70c5d;
	text-decoration: underline;
}
.user-position>a::before{
	position: absolute;
	display: inline-block;
	content: '\2022';
	color: #a70c5d;
	left: -10px;
}
.user-info{
	margin-top: 33px;
}
img.user-pic {
	border-radius: 40px;
	width: 55px;
	cursor: pointer;
}
img.user-pic:hover ~ .user-position a{
	color:  #a70c5d;
}
p.user-name {
	font-size: 13px;
	margin: 7px 0 12px 0px;
}
.video-icon{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/testimonials-sprite.png) 0 -42px no-repeat;
}
.video-icon:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.screenshot{
	background: url(../img/del/screenshot.jpg) 0 0 no-repeat;
	width: 300px;
	height: 200px;
	position: relative;
}
button.testimonial-play{
	border: none;
	position: absolute;
	z-index: 10;
	width: 40px;
	height: 40px;
	top:-50px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	border-radius: 30px;
	background: #ffffff url(../img/play.svg) 17px 14px no-repeat;
	background-size: 12px 12px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	cursor: pointer;
}
button.testimonial-play:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.screenshot:hover button.testimonial-play{
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	opacity: 1; 
}
.load-more{
	display: block;
	margin: 65px auto;
	text-transform: uppercase;
	font-family: Gotham Black;
	position: relative;
	width: 180px;
	font-size: 11px;
	text-align: center;
}
.load-more:hover::before{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.load-more::before{
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	bottom: -4px;
	content: url(../img/reload.png);
}
#contact {
	margin: 28px 0 0px 0;
	border-bottom: 1px solid #dcdcdc;
}
#submission-form{
	width: 810px;
	margin: 50px auto 0;
}
.form-block{
	display: inline-block;
	width: 380px;
	vertical-align: top;
	overflow: hidden;
	margin-right: 20px;
}
input[type="text"]{
	width: 370px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px;
	margin: 0 0 15px 0;
	cursor: pointer;
}
label{
	text-transform: uppercase;
	display: block;
	text-align: left;
	font-size: 11px;
	margin: 15px 0 9px 0;
}
textarea{
	border: 1px solid #dcdcdc;
	cursor: pointer;
	vertical-align: top;
	width: 350px;
	height: 230px;
	padding: 10px;
}
textarea:focus{
	border: 1px solid #dcdcdc;
}
button.choose{
	background: #fcfcfd;
	border: 1px solid #dcdcdc;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	text-align: left;
	padding: 20px 0 20px 10px;
	width: 100%;
	margin: 36px 0 0 0;
	cursor: pointer;
	position: relative;
}
button.choose:after{
	display: block;
	position: absolute;
	right: 20px;
	bottom: 15px;
	width: 20px;
	height: 21px;
	content: '';
	background: url(../img/1.svg) -24px -39px no-repeat;
	background-size: 129px 100px;
}
button.choose:hover:after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.select{
	text-align: left;
	border:  1px solid #dcdcdc;
	border-top: none;
	padding-bottom: 20px;
	display: none;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.display-select{
	display: block;
}
.select p>label{
	display: inline-block;
	text-transform: none;
	font-size: 13px;
	cursor: pointer;
	margin: 20px 0 0 20px;
	position: relative;
	padding-left: 25px;
}
.select p>label:hover{
	color: #a70c5d;
}
.select p label:hover::before{
	 background: url(../img/list.png) 0 -42px no-repeat;
}
.select p input[type="radio"]{
	display: none;
}
p input[type="radio"] + label::before {
	display: inline-block;
	position: absolute;
	left: 7px;
	top: 3px;
	content: '';
	width: 20px;
	height: 8px;
	background: url(../img/list.png) 0 -32px no-repeat;
}
.btn-color{
	 color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	border: none;
	border-radius: 40px;
	background: #a70c5d;
	font-family: Gotham Black;
	font-size: 11px;
	display: block;
	margin: 35px auto;
	cursor: pointer;
	padding: 20px 52px;
}
.btn-color:hover{
	opacity: .8
}
.btn-color:focus{
	opacity: .6;
}
footer{
	padding: 30px 0;
	text-align: center;
}
footer h5{
	font: 11px Gotham Black;
	text-transform: uppercase;
	margin:  0 0 10px 0;  
 }
footer>p {
	text-align: center;
	margin-bottom: 10px;
}
footer>p:last-of-type {
	font-size: 11px;
	position: relative;
	padding-left: 15px;
}
footer>p:last-of-type:before{
	display: inline-block;
	content:'©';
	color: inherit;
}
a.mailto{
	text-decoration: underline;
	color: #a70c5d;
}
a.mailto:hover{
	text-decoration: none;
}
a.mailto:focus{
	text-decoration: none;
	color: #ccc;
}
.socials{
	margin: 30px auto;
}
.socials a{
	width: 41px;
	height: 40px;
}
.socials a:focus{
	opacity: .6;
}
.fb{
	background: url(../img/social.png) -10px -71px no-repeat;
}
.fb:hover{
	background: url(../img/social.png) -8px -11px no-repeat;
}
.tw{
	background: url(../img/social.png) -58px -71px no-repeat;
}
.tw:hover{
	background: url(../img/social.png) -56px -11px no-repeat;
}
.in{
	background: url(../img/social.png) -107px -71px no-repeat;
}
.in:hover{
	background: url(../img/social.png) -105px -11px no-repeat;
}
/*media queries*/
@media (max-width: 768px) {
.wrapper{
	width: 100%;
}
.header-column {
overflow: hidden;
}
.slogan-text {
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-left: 0;
}
.slogan-text h1 {
	margin: 74px 0 15px 0;
	width: 100%;
}
.slogan-text p {
width: auto;
}
.header-column img {
	 height: auto; 
	width: 100%;
	margin: 2px 0 0 0;
}
.entry-content-line:nth-of-type(3)::before{
	display: none;
}
.services-block{
	margin-bottom: 20px;
	padding-left: 0;
}
#services .wrapper {
	overflow: visible;
}
.entry-content-line{
	padding-top:20px;
}
.services-block.opti{
	position: relative;
}
.optimization-prices.for-mob {
	z-index: 100;
	opacity: 1;
	width: 100%;
	top: 45px;
	background: #fff;
}
.optimization-prices.for-mob table{
	width: 100%;
}
.testimonial-block {
	width: 30%;
	padding-left: 0; 
	vertical-align: top;
}
.screenshot{
	width: 100%;
}
#submission-form{
	width: 100%;
}
.form-block{
	width: 40%;
	overflow: hidden;
}
input[type="text"]{
	width: 100%;
}
#submission-form textarea{
	width: 80%;
}
}

@media (max-width: 480px) {
.logo{
	margin-left: 20px;
}
nav{
	width: 100%;
	margin-left: 20px;
	margin-right: 0;
	float: none;
}
.slogan-text h1{
	font-size: 18px;
	margin-top: 15px;
}
.slogan-text h1{
	font-size: 12px;
}
.entry-header p {
	width: 95%;
}
.optimization-prices.for-mob table{
	width: 90%;
}
#testimonials{
	overflow: hidden;
}
.testimonial-block{
	width: 100%;
}
.screenshot{
	width: 300px;
	margin: 0 auto;
}
}