@font-face {
font-family: Impact; 
src: url(../lesson4/552008.ttf); 
}
body{
	margin: 0;
	padding: 0;
}
ul{
list-style: none;
padding: 0;
}
ul li{
	display: inline-block;
}
ul li a{
display: inline-block;
text-decoration: none;
}
.blue{
	margin-top: 10px;
	width: 100%;
	background-color: #1aa4ff;
	box-shadow: 0 0 2px 2px #e2e2e2;
}
.menu{
font-family: Impact, Helvetica sans-serif;
width: 900px;
margin: 0 auto;
}
.menu a{
padding: 8px 12px;
color: #fff;
font-size: 18px;
color: #fff;
text-transform: uppercase;
position: relative;
}

.menu li ul{
display: none;
position: absolute;
left: 0;
text-align: left;
width: 100%;
padding-left:232px;
background: #eeeeee;
}
.menu ul li {
    margin-right: 16px;
}
.menu li ul a{
color: #888888;
text-transform: capitalize;
padding: 11px 0px 11px 12px;
font-family: 'Times Roman' sans-serif;
font-size: 14px;
}
.menu li:hover a{
	background: #eeeeee;
	color: #888888;
}
.menu li:hover ul{
	display: inline-block;
}
.menu li ul li:hover a{
	color: #1aa4ff;
}
.container{
	margin: 41px 0 24px 156px;
    background: #ee8129;
    width: 295px;
    font-family: 'Trebuchet MS';
    border-radius: 3px;
    box-shadow: 0 0px 10px 1px #cbe2ef;
    overflow: hidden;
}
.container p{
	text-transform: uppercase;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 25px 0 24px 5px;;
}
.white p{
	color: #3f4042;
    margin: 17px 0 10px 5px
}
.white{
	background: #fff;
    width: 289px;
    padding-bottom: 1px;
    margin: 0 auto 4px;
}
.price{
	width: 100%;
    text-align: center;
    position: relative;
    margin: 0 0 0 -22px;
    font-size: 72px;
    font-weight: bold;
    color: #35495a;
}
.price span{
	position: absolute;
    top: 9px;
    left: 90px;
    font-weight: normal;
    font-size: 21px;
}
.price span:last-of-type{
	right: -43px;
    top: 60px;
    font-size: 18px;
}
.container ul{
    list-style: none;
    width: 257px;
    margin: 23px auto 14px;
    padding: 0;
    overflow: hidden;
}
.container ul li{
	 background: #edf5fd url('1.png') 32px 9px no-repeat;
    padding: 8px 0px 8px 62px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2px;
    color: #888c94;
    font-size: 15px;
}
.container ul li:nth-of-type(even){
    background: #f5f5f6 url('1.png') 32px 9px no-repeat;
}
input{
width: 251px;
    padding: 11px 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto 30px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    background: #ee8129;
    border: none;
    border-bottom: 2px solid #b3560b;
    cursor: pointer;
    outline: none;
}
input:hover{
    background: #f68f45;
}
input:active{
    border-bottom: 2px solid #f68f45;
}